

nav {
background-color: #fff;
width: 100%;
/* height: 118px; */
height: 100px;
/* z-index: 1; */
/* background-color: #f9f9f9; */
}

img{
width: 100px;
height: 100px;
/* margin-left:60px; */
}

.profile{
margin-right: 30px;
}
