* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background: #f6f6f6 !important;
}

nav {
  background-color: #fff;
  width: 100%;
  /* height: 100% !important; */
  height: 90px;
  /* background-color: #f9f9f9; */
}

.logo{
  width: 120px;
  height: 80px;
}

div.login {
  margin-top: 160px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 12px;
  /* background-color: rgb(217 215 215 / 21%); */
  background-color: #fff;
  /* border-radius: 20px; */
  /* background-color: rgb(0, 0, 0, 0.7); */
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.h-1 {
  text-align: center;
}
/* p.p-1 {
  color: aliceblue;
  text-align: center;
} */

input.log {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  /* border: white; */
  /* border-radius: 12px; */
  padding: 13px 5px;
  /* border: 1px solid #ffffff; */
  /* text-align: right; */
  /* transition: 0.3s; */
}
/* input.log:hover {
    transform: scale(1.1);
  } */

/* input::placeholder {
  text-align: right;
} */

button {
  width: 100%;
  height: 35px;
  background-color: #04cd04;
  color: white;
  border-radius: 5px !important;
  margin-bottom: 25px !important;
  border: none;
}
button:hover {
  /* transform: scale(1.2); */
  background-color: #04cd04d8;
}

.btn-login{
  margin-bottom: -5px !important;
}

.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}